:root .themeAdwaita {
    --dbc-main-background-color: #f6f5f4;
    --dbc-button-background-color: #f6f5f4;
    --dbc-button-color: black;
    --dbc-button-hover-background-color: white;
    --dbc-button-active-background-color: #d6d1cd;   
    --dbc-button-margin: 20px 0px 0px 0px;
    --dbc-button-flexgrow: 1;
    --dbc-button-marginleft: 0px;
    --dbc-button-focus-color: rgb(126, 126, 126);    
    --dbc-button-cornerradius: 0px;
    --dbc-button-bordercolor: lightgray;
    --dbc-button-borderstyle: solid;
    --dbc-button-borderwidth: 1px 0px 1px 1px;
    --dbc-button-first-borderwidth: 0px;
    --dbc-button-buttomradius: 5px;
    --dbc-button-padding: 10px 15px;
    --dbc-button-outlinestyle: dotted;
    --dbc-button-outlineoffset: -2px;
    --dbc-input-selection-color: #3584e4;
}



