:root .themeAdwaita {
    --dbc-button-backgroundcolor: transparent;
    --dbc-button-color: black;
    --dbc-button-margin: 20px 0px 0px 0px;
    --dbc-button-flexgrow: 1;
    --dbc-button-marginleft: 0px;
    --dbc-button-cornerradius: 0px;
    --dbc-button-bordercolor: lightgray;
    --dbc-button-borderstyle: solid;
    --dbc-button-borderwidth: 1px 0px 1px 1px;
    --dbc-button-buttomradius: 5px;
    --dbc-button-padding: 10px 15px;
}



